<!-- Sidebar -->
<section class="sidebar">
    <div class="user-panel">
      <div class="pull-left image">
        <img src="../../../assets/img/emp-default.png" class="img-circle white-background user-img rounded-circle" alt="User Image">
      </div>
      <div class="pull-left info">
        <p>Bình</p>
        <a><i class="fa fa-circle text-success"></i> Online</a>
      </div>
    </div>
    <ul class="sidebar navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="index.html">
            <span>OSHOP - ADMIN</span>
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa fa-cube fa-fw"></i>
            <span>Products</span>
          </a>
          <div class="dropdown-menu" aria-labelledby="pagesDropdown">
            <!-- <h6 class="dropdown-header">Login Screens:</h6>
            <a class="dropdown-item" href="login.html">Login</a>
            <a class="dropdown-item" href="register.html">Register</a>
            <a class="dropdown-item" href="forgot-password.html">Forgot Password</a>
            <div class="dropdown-divider"></div>
            <h6 class="dropdown-header">Other Pages:</h6>
            <a class="dropdown-item" href="404.html">404 Page</a>
            <a class="dropdown-item" href="blank.html">Blank Page</a> -->
            <a class="dropdown-item" href="login.html">Products List</a>
            <a class="dropdown-item" href="register.html">Products Add</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="charts.html">
            <i class="fas fa-shopping-cart"></i>
            <span>Shopping-Card</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="tables.html">
            <i class="fas fa-money-bill-wave"></i>
            <span>Order</span></a>
        </li>
      </ul>
</section>
