<form #f="ngForm" (ngSubmit)="addProduct(f.value)">
    <div class="form-group">
        <label class="font-size-12px font-bold">
            <span class="color-red">※</span>NAME
        </label>
        <input ngModel #name="ngModel" class="form-control" id="name" name="name" required>
        <p class="text-danger" *ngIf="name?.errors?.required && f.submitted">
            <i class="fa fa-exclamation-circle" aria-hidden="true"></i> This field is required.
        </p>
    </div>

    <div class="form-group">
        <label for="category">Category</label>
        <select ngModel #category="ngModel" id="category" class="form-control" name="category" required>
            <option *ngFor="let cate of categories | async" [value]="cate.$key">
                {{ cate.name }}
            </option>
        </select>
    </div>
    <div class="form-group">
        <label for="price"><span class="color-red">※</span>Price</label>
        <input ngModel #price="ngModel" class="form-control" id="price" name="price" required>
        <p class="text-danger" *ngIf="price?.errors?.required && f.submitted">
            <i class="fa fa-exclamation-circle" aria-hidden="true"></i> This field is required.
        </p>
    </div>
    <div class="form-group">
        <label for="image">Image</label>
        <input ngModel class="form-control" id="image" name="image" type="file">
    </div>

    <div class="form-group">
        <label for="image">Description</label>
        <textarea ngModel class="form-control" id="description" name="description" rows="4" cols="50" maxlength="250"></textarea>
    </div>
    <div class="form-group">
        <button class="margin-auto btn btn-primary">Add</button>
        <button class="margin-auto btn btn-secondary">Cancel</button>
    </div>
</form>
