




<!--<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Category</th>
            <th>Price</th>
            <th>Description</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let pro of filterProd">
            <td>{{pro.name}}</td>
            <td>{{pro.category}}</td>
            <td>{{pro.price}}<span>$</span></td>
            <td>{{pro.description}}</td>
            <td>
                <div class="row">
                    <div class="col-sm-3">
                         <a class="btn btn-secondary" [routerLink]="[ '/admin/products/', pro.$key ]">Edit</a>
                    </div>
                    <div class="col-sm-3">
                        <button class="btn btn-danger" type="submit" (click)="delete(pro.$key)">Delete</button>
                    </div>
                </div>
            </td>
        </tr>
    </tbody>
</table> -->


<!-- <div class="container">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="md-form">
                <button class="btn btn-primary float-right magin-bottom-5px" (click)="addProduct()">New Product</button>
                <div class="col-md-6">
                    <input #query (keyup)="filter(query.value)" type="text" class="form-control" placeholder="Search...">
                </div>
            </div>
        </div>
        
    </div>
</div> -->
